/* --- Actual styles used in the documents --- */
p.Example
{
	font-style: italic;
	margin-left: 2%;
	margin-right: 2%;
}
p.MoveOneLine, p.MoveMultiLine
{
	border-top: 2px solid #000000;
	display: block;
	padding-top: 0.5em;
}
p.MoveMultiLine ~ ul 
{
    list-style: "\2734  ";
    padding-left: 1.5em;
    /*text-indent:  0.5em;*/
}
p.MoveMultiLine + ul
{
	margin-top: -0.75em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #000000;
}
p.MoveOneLine
{
	padding-bottom: 0.5em;
	border-bottom: 2px solid #000000;
}
